*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(86, 121, 156);
}

/* barra de navegacion */

.header{
    background-color: brown;
    color: cornsilk;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
}

.header__titulo{
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
}

.header__navegacion{
    text-align: right;
    margin-bottom: 15px;
    
}

.header__ul{
    list-style: none;
    
}

.header__li{
    
}

.header__a{
    text-decoration: none;
    font-size: 22px;
    padding: 20px;
    
}

.img{
    width: 100%;
    height: 600px;
    background-size: cover;
    position: relative;
    
}


/* Footer */

.pie{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
    background-color: black;
}

.pie__derechos{
    text-align: center;
    color: azure;
    margin-top: 30px;
}
